WebContent/wsdl/WSDLFile_UpdateMetada.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WSDLFile"
	targetNamespace="http://cews.filenet.metlife.com.mx/WSDLFile/MetaUpdateSOAP"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cews.filenet.metlife.com.mx/WSDLFile/MetaUpdateSOAP"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://cews.filenet.metlife.com.mx/WSDLFile/MetaUpdateSOAP"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="UpdateMetadataRq">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="parameters" type="tns:UpdateMetadataRqType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateMetadataRs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="parameters" type="tns:UpdateMetadataRsType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="UpdateMetadataRqType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="ObjectStore"
						type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="DocClass"
						type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="QueryCondition"
						type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="Path"
						type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="Properties"
						type="tns:Properties">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="GUIDs"
						type="tns:GUIDs">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="TipoConsulta"
						type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="User"
						type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1" name="Password"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="UpdateMetadataRsType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="OperationStatCd"
						type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="DocsError" type="tns:DocsError">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ErrStatDesc"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="GUIDs">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="GUID"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Metadata">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="Key"
						type="xsd:string" />

					<xsd:element maxOccurs="1" minOccurs="1" name="Value"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="DocError">
				<xsd:sequence>
					<xsd:element name="GUID" type="xsd:string" />
					<xsd:element name="DescError" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="DescError">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1"
						name="Description" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>





			<xsd:complexType name="Errors" />

			<xsd:complexType name="Properties">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="Metadata"
						type="tns:Metadata" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="DocsError">
				<xsd:sequence>
					<xsd:element name="DocError" type="tns:DocError" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="UpdateDocsResponse">
		<wsdl:part element="tns:UpdateMetadataRs" name="parameters" />
	</wsdl:message>
	<wsdl:message name="UpdateDocsRequest">
		<wsdl:part element="tns:UpdateMetadataRq" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="WSDLFile">
		<wsdl:operation name="UpdateDocs">
			<wsdl:input message="tns:UpdateDocsRequest" />
			<wsdl:output message="tns:UpdateDocsResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WSDLFileSOAP" type="tns:WSDLFile">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="UpdateDocs">
			<soap:operation
				soapAction="http://cews.filenet.metlife.com.mx/WSDLFile/Operation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WSDLFile">
		<wsdl:port binding="tns:WSDLFileSOAP" name="WSDLFileSOAP">
			<soap:address
				location="http://mlmformsu:9083/FileNetServiceUpdate/services/WSDLFileSOAP" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>