WebContent/wsdl/WSDLFileValidaSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cews.filenet.metlife.com.mx/WSDLFileValida/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSDLFileValida" targetNamespace="http://cews.filenet.metlife.com.mx/WSDLFileValida/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://cews.filenet.metlife.com.mx/WSDLFileValida/">
			<xsd:complexType name="Metadata">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="Key" nillable="false" type="xsd:base64Binary"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="Value" nillable="false" type="xsd:base64Binary"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="Required" nillable="false" type="xsd:base64Binary"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="File">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="MimeType" type="xsd:base64Binary"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="Filenm" type="xsd:base64Binary"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="Content" type="xsd:base64Binary"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Documents">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Document" type="tns:Document"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Document">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Metadata" type="tns:Metadata"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SecurityGroup">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Security" type="tns:Security"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Security">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="SecurityTarget" type="xsd:base64Binary"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="SecurityPrincipal" type="xsd:base64Binary"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="SecurityAccess" type="xsd:base64Binary"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="SecurityAccessType" type="xsd:base64Binary"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="InsertDocRq">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="ObjectStore" type="xsd:base64Binary"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="DocClass" type="xsd:base64Binary"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="Path" type="xsd:base64Binary"/>

						<xsd:element maxOccurs="1" minOccurs="0" name="SecurityGrp" type="tns:SecurityGroup"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="Properties" type="tns:Document"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="Filenm" type="xsd:base64Binary"/>
						<xsd:element maxOccurs="1" minOccurs="1" name="Content" type="xsd:base64Binary"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="InsertDocRs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="OperationStatCd" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="ErrStatDesc" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="GUID" type="xsd:base64Binary"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	
	<wsdl:message name="insertDocumentValidaRequest">
		<wsdl:part element="tns:InsertDocRq" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="insertDocumentValidaResponse">
		<wsdl:part element="tns:InsertDocRs" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="WSDLFileValida">


		<wsdl:operation name="insertDocumentValida">
			<wsdl:input message="tns:insertDocumentValidaRequest"/>
			<wsdl:output message="tns:insertDocumentValidaResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WSDLFileValidaSOAP" type="tns:WSDLFileValida">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="insertDocumentValida">
			<soap:operation soapAction="http://cews.filenet.metlife.com.mx/WSDLFileValida/Operation2"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WSDLFileValida">
		<wsdl:port binding="tns:WSDLFileValidaSOAP" name="WSDLFile2SOAP">
			<soap:address location="http://localhost:8080/FilenetWS/services/WSDLFileValidaSOAP"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
